Good morning everyone,

My name is sajidan, and I’m very happy to meet all of you today.
I’m also proud to represent SMK YPC in this World Classroom Program.

Firstly I would like to say thank you to the organizers and everyone who made this program possible.

Secondly I would like to say hello to all of ........ kikari jhs in this meeting.
This is a great opportunity for us to learn, share, and connect japanese students with Indonesian students .
I hope this program will bring us new knowledge, experiences, and wonderful memories together.

Thank you very much....